
<header>
    <nav class="navbar py-3 navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid collapse navbar-collapse">
            <a href="{{ path('app_homepage') }}">
                <img src="{{ asset('images/logo.png')}}" class="logo-img" alt="logo bubble tea">
            </a>
            <a class="navbar-brand" href="{{ path('app_homepage') }}">
                Bubble Tea
            </a>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href=#>Something</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=#>Some other thing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=#>Again</a>
                    </li>
                </ul>

                <!-- Button -->
                <ul class="nav-bar nav ms-auto mb-2 mb-lg-0">

                    {# si l'user est connecté #}
                    {% if app.user %}
                        {# si l'user est un admin #}
                        {% if 'ROLE_ADMIN' in app.user.getroles() %}
                            <li class="nav-item">
                                <button type="button" class="navbar-btn btn me-lg-1 ms-auto btn-outline-secondary" data-bs-placement="bottom" onclick="location.href='{{ path('app_admin')}}'">Gérer la Carte</button>
                            </li>
                        {% endif %}

                        <li class="nav-item">
                            <button type="button" class="navbar-btn btn me-lg-1 ms-auto btn-outline-secondary" data-bs-placement="bottom" onclick="location.href='{{ path('app_profile')}}'">Mon Profil</button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="navbar-btn btn me-lg-1 ms-auto btn-outline-secondary" data-bs-placement="bottom" onclick="location.href='{{ path('app_cart') }}'">Mon Panier</button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="navbar-btn btn me-lg-5 ms-auto btn-outline-secondary" data-bs-placement="bottom" onclick="location.href='{{ path('app_logout')}}'">Déconnexion</button>
                        </li>

                    {# si l'user n'est pas connecté #}
                    {% else %}
                        <li class="nav-item">
                            <button type="button" class="navbar-btn btn me-lg-1 ms-auto btn-outline-secondary" data-bs-placement="bottom" onclick="location.href='{{ path('app_login') }}'">Connexion</button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="navbar-btn btn me-lg-5 ms-auto btn-outline-secondary" data-bs-placement="bottom" onclick="location.href='{{ path('app_register') }}'">Inscription</button>
                        </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>
</header>