{% extends 'base.html.twig' %}

{% block title %}Ajouter{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">

        {% if app.user %}
            <div class="col">
                <div class="card w-50">
                    <div class="card-body">
                        <h5 class="card-title">{{ drink.getName }}</h5>
                        <p>{{ drink.getFlavour }}</p>
                        <p>Sucre
                            {% if drink.getSugarQuantity <= 0 %}
                                <button type="button" class="btn btn-danger btn-sm" onclick="location.href='#'" disabled>-</button>
                                <button type="button" class="btn btn-success btn-sm" onclick="location.href='#'">+</button>
                            {% elseif drink.getSugarQuantity >= 10 %}
                                <button type="button" class="btn btn-danger btn-sm" onclick="location.href='#'">-</button>
                                <button type="button" class="btn btn-success btn-sm" onclick="location.href='#'" disabled>+</button>
                            {% else %}
                                <button type="button" class="btn btn-danger btn-sm" onclick="location.href='#'">-</button>
                                <button type="button" class="btn btn-success btn-sm" onclick="location.href='#'">+</button>
                            {% endif %}
                        </p>
                        <p>Popping
                            <ul>
                                {% for popping in drink.getDrinkPopping %}
                                    <li class="li-pop">
                                        {{ popping.getName }}
                                        <button type="button" class="btn btn-pop btn-outline-secondary" onclick="location.href='#'">Retirer</button>
                                    </li>
                                {% endfor %}
                            </ul>
                        </p>
                            <div class="accordion accordion-flush" id="accordion">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-heading">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse" aria-expanded="false" aria-controls="flush-collapse">
                                            Modifier les popping
                                        </button>
                                    </h2>
                                    <div id="flush-collapse" class="accordion-collapse collapse" aria-labelledby="flush-heading" data-bs-parent="#accordion">
                                        <div class="accordion-body">
                                            <ul>
                                                {% for pop in poppings %}
                                                    {% if pop not in drink.getDrinkPopping %}
                                                        <li class="li-pop">
                                                            {{ pop.getName }}
                                                            <button type="button" class="btn btn-pop btn-outline-secondary" onclick="location.href='#'">Ajouter</button>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        <p>{{ drink.getPrice }}€</p>
                    </div>
                    <div class="card-footer text-muted">
                        <p>
                            <button type="button" class="btn btn-secondary" onclick="location.href='{{ path('app_drinks_add', {'id' : drink.id}) }}'">Ajouter au panier</button>
                        </p>
                    </div>
                </div>
            </div>
        {% else %}
            Connectez-vous
        {% endif %}
        </div>
    </div>

{% endblock %}